@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .post-container {
        @apply flex float-left content-start justify-center bg-offWhite;
    }
    .post-text-container {
        @apply text-textColor px-[10%] sm:px-[15%];
    }
    .blog-link {
        @apply text-xl text-textColor underline decoration-solid font-light leading-relaxed;
    }
}

/* h2 {
    display: flex;
    justify-content: left;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    font-style: normal;      
    font-weight: 500;      
    line-height: 33px; 
    letter-spacing: 2.2px      
}

h3 {
    display: flex;
    justify-content: left;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    font-style: normal;      
    font-weight: 350;      
    line-height: 25px; 
}

.container {
    width: 70%;
    padding: 5rem 5.5rem 0rem;
    margin-right: auto;
    margin-left: auto;
    min-width: 37rem;
} */


.bolded { font-weight: bold; }

.italicized { font-style: italic; }

.fade {
    margin-top: 4.359rem;
    padding: 2rem 0;
    /* height: 5rem; */
    width: 100%;
    position: fixed;
    /* color: white; */
    background-image: linear-gradient(to top, rgba(77, 80, 97, 0), rgba(39, 41, 50, 0.6));
    /* background-color: #cfc ; padding: 4rem; border: 1px solid green; */
}

.fade1 {
    padding: 5rem 0;
    /* height: 5rem; */
    width: 100%;
    position: fixed;
    /* color: white; */
    background-image: linear-gradient(to top, rgba(35, 37, 45, 0), rgb(35, 37, 45));
    /* background-color: #cfc ; padding: 4rem; border: 1px solid green; */
}