@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    display: flex;
    font-size: 2.8125rem;
    padding-bottom: 0px;
}

@layer components {
    .page-container {
        @apply h-full flex float-left place-content-center py-16 bg-lightGray items-center;
    }
    .text-scroll-container {
        @apply text-darkGreen px-[15%] overflow-auto my-0 sm:my-16;
    }
    .page-scroll-container {
        @apply h-full flex float-left content-start justify-center bg-lightGray py-16 sm:items-center;
        /* @apply h-full flex float-left content-start justify-center bg-lightGray py-16; */

    }
    .project-link {
        @apply text-xl text-darkGreen underline decoration-solid font-light leading-relaxed;
    }
}

/* h2 {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.25em;
    font-style: normal;      
    font-weight: 500;      
    line-height: 33px; 
    letter-spacing: 2.2px      
} */

/* h3 {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    font-style: normal;      
    font-weight: 500;      
    line-height: 33px;  
    letter-spacing: 2.2px      
} */

/* .container {
    width: 100%;
    padding: 5.5rem 8.5rem 0em;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
} */

/* .header {
    padding: 1rem 0px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    background-image: linear-gradient(to top, rgba(39, 41, 50, 0.6), rgba(39, 41, 50, 0.9));
    z-index: 1000;
} */

.bolded { font-weight: bold; }

.italicized { font-style: italic; }

/* .blog-link {
    display: flex;
    justify-content: left;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    font-style: normal;      
    font-weight: 300;      
    line-height: 33px;    
    letter-spacing: 2px;
    color: #5080BC;
} */

.vertical-align {
    /* width: 100%; */
    align-items: center;
}