/* html { font-size: 100%; } */

.title {
    display: flex;
    font-size: 2.8125rem;
    /* letter-spacing: 0.1em; */
    /* padding: calc(8px + 1.5625vw); */
    /* padding-top: 10%; */
    padding-bottom: 0px;
    /* position: 'relative', */
    /* position: absolute; */
    /* left: 170px;
    top: 130px; */
}

h2 {
    /* display: flex; */
    justify-content: left;
    /* padding: calc(8px + 1.5625vw); */
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.25em;
    font-style: normal;      
    font-weight: 500;      
    line-height: 33px; /* 160.714% */      
    letter-spacing: 2.2px      
}

h3 {
    display: flex;
    justify-content: left;
    /* padding: calc(8px + 1.5625vw); */
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    font-style: normal;      
    font-weight: 500;      
    line-height: 33px; /* 160.714% */      
    letter-spacing: 2.2px      
}

.container {
    /* display: flex; */
    width: 100%;
    padding: 5.5rem 8.5rem 0em;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.header {
    padding: 1rem 0px 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    background-image: linear-gradient(to top, rgba(39, 41, 50, 0.6), rgba(39, 41, 50, 0.9));
    /* background:rgb(27, 28, 35); */
    z-index: 1000;
}

.bolded { font-weight: bold; }

.italicized { font-style: italic; }

.blog-link {
    display: flex;
    justify-content: left;
    /* padding: calc(8px + 1.5625vw); */
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    font-style: normal;      
    font-weight: 300;      
    line-height: 33px; /* 160.714% */      
    letter-spacing: 2px;
    color: #5080BC;
}

.project-link {
    display: flex;
    justify-content: left;
    /* padding: calc(8px + 1.5625vw); */
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    font-style: normal;      
    font-weight: 300;      
    line-height: 33px; /* 160.714% */      
    letter-spacing: 2px;
    color: #5080BC;
}

.vertical-align {
    /* width: 100%; */
    align-items: center;
}