@import url(https://fonts.googleapis.com/css?family=Cousine:regular,italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-button {
    @apply transition ease-in-out delay-75 bg-offWhite hover:bg-lightBlue hover:text-offWhite hover:border-lightBlue rounded-full text-darkGray border border-darkGray py-1 px-4 border-opacity-50 text-opacity-80 dark:bg-darkBlue dark:border-offWhite dark:text-offWhite dark:border-opacity-50 dark:text-opacity-80;
  }
  .active {
    @apply bg-darkGray text-offWhite dark:bg-offWhite dark:text-darkGray;
  }
}

/* .active {
  background-color: rgb(31,31,31);
  color: rgb(252,249,237);
}

@media (prefers-color-scheme: dark) {
  .active {
    background-color: #282853;
  }
} */

.header {
    width: 100%;
    background: white;
    justify-content: center;
}

.NavLink {
    font-family: 'Josefin Sans', cursive;
}

.navlink {
    color: #E9EDDE;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 3rem;
    min-width: 5rem;
    cursor: pointer;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.navbtn {
    vertical-align: middle;
    align-items: left;
    justify-content: center;
}

.navbtnlink {
    display: flex;
    border-radius: 4px;
    padding: 2rem 10%;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
      display: block;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    .nav-elements {
      position: absolute;
      right: 0;
      top: 4.0625rem;
      background-color: #4d5061;
      width: 0;
      height: calc(100vh - 60px);
      transition: all 0.3s ease-in;
    }
  
    .nav-elements.active {
      width: 270px;
    }
  
    .nav-elements ul {
      display: flex;
      flex-direction: column;
    }
  
    .nav-elements ul li {
      margin-right: unset;
      margin-top: 22px;
    }

    .navigation-elements.expanded ul {
        display: none;
      }
  }
