@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #425345;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter-white {
  filter: invert(5%) sepia(78%) saturate(6858%) hue-rotate(276deg) brightness(97%) contrast(101%);
  -webkit-filter: brightness(50%);
}

@layer base {
  @font-face {
    font-family: Qestero;
    font-weight: 400;
    src: url(fonts/QesteroRegular-axKqR.woff) format("woff");
  }
  @font-face {
    font-family: Amerton;
    font-weight: 900;
    src: url(fonts/AmertonOutline-GKyA.ttf) format("truetype");
  }
  @font-face {
    font-family: Bekinder;
    font-weight: normal;
    src: url(fonts/bekinder.regular.ttf) format("truetype");
  }
  @font-face {
    font-family: BekinderItalic;
    font-weight: normal;
    src: url(fonts/bekinder.italic.ttf) format("truetype");
  }
  @font-face {
    font-family: BekinderOutline;
    font-weight: normal;
    src: url(fonts/bekinder.outline.ttf) format("truetype");
  }
  @font-face {
    font-family: IBMPlexSans;
    font-weight: normal;
    src: url(fonts/IBMPlexSans-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Cardif;
    font-weight: normal;
    font-size: xx-large;
    src: url(fonts/CARDIF__.TTF) format("truetype");
  }
}
