@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 2.5vw 3.5vw 2.5vh 3.5vw;
  height: 100vh;
}

@layer components {
  html {
    @apply bg-offWhite dark:bg-darkBlue transition-none;
  }
  .project-link {
    @apply font-bodyText text-xl underline decoration-solid font-light leading-loose;
  }
  .link {
    @apply underline underline-offset-2 hover:text-lightBlue transition ease-in-out delay-75;
  }
  .footer-link {
    @apply flex transition ease-in-out delay-75 fill-darkGray dark:fill-offWhite hover:fill-lightBlue place-items-center opacity-90;
  }
  .section-container {
    @apply flex transition ease-in-out delay-75 h-screen grow text-darkGray mx-[10%] sm:mx-[15%] items-center min-h-[500px] min-w-[300px] dark:text-offWhite;
  }
}

.learn-more-btn {
  animation: xbounce 1s infinite;
} 

@keyframes xbounce {
  0%, 100% {
    transform: translatex(15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}